.wrapper_button{
	position: fixed;
	bottom: 2.5em;
	z-index: 10;
	
	// Temporarily(?) deleting it
	display: none;
}

a#toTop,
.link_on{
	//This makes sure all the elements(text, circle and arrow) turn orange at once
	&:hover{
		.arrow{
			&.up{
				border: rem-calc(2) solid $orange;
		
				span{
					border-top: rem-calc(2) solid $orange;
					border-right: rem-calc(2) solid $orange;
				}
			}
		}
	}
	
	.arrow{
		width: rem-calc(40);
		height: rem-calc(40);
		position: relative;
		display: block;
		float: right;
		
		cursor: pointer;
		z-index: 10;
		
		top: rem-calc(5);
		right: rem-calc(-20);
		bottom: 2.5em;

		border-radius: 100%;
		border: rem-calc(2) solid $white;
		background: transparent;

		span{
			content: ' ';
			width: rem-calc(12);
			height: rem-calc(12);
			position: absolute;
			
			top: 0;
			margin-top: rem-calc(15);
			right: rem-calc(12);
			
			cursor: pointer;
			opacity: 1;
			
			@include rotate(314deg);
			background: transparent;
			border: rem-calc(2) solid $white;
			border-bottom: none;
			border-left: none;
		}
	
		&.up{
		}
		
		&.right{
			@extend .arrow;
			@include rotate(90deg);
			top: auto;
			right: auto;
		}
	}
}


//Media queries
@media #{$small-only}{
	.up{
		display: none;
	}
}