.link_on{
	padding: 1em;
	cursor: pointer;
	background: $orange;
	
	&:hover{
		box-shadow: 0 0 rem-calc(3) rgba(0,0,0,.5);
	}
	
	*{
		color: $white;
		cursor: pointer;
	}
	
	h2,
	p{
		margin-bottom: 0;
	}
}