.reseller{
	.menu{
		li{
//			display: inline;
			
			a,
			&:last-child a,
			p{
				font-size: rem-calc(20);
				font-weight: lighter;
				line-height: 2;
				margin-bottom: 0;
			}
			
			&:last-child{
				a{
					color: $orange;
				}
			}
		}
	}
}

//Media queries
@media #{$medium-down}{
	.reseller{
		.menu{
			text-align: left;
			
			li{
				text-align: left;
				float: none !important;
				
				p,
				a{
					line-height: 1.5 !important;
				}
			}
		}
	}
}