.top{
	//This menu appears when browser is under 1024px
	.menu_small{
		display: none;
		float: left;
	
		//Menu 'the Hamburger' icon
		//Trigger for '#menu-small-nav'
		.hamburger{
			width: rem-calc(20);
			height: rem-calc(20);
			float: right;
			top: .6em;
		
			background: transparent;
		
			a{
				background: white;
				width: 150%;
				height: rem-calc(20);
				position: absolute;
				border-top: rem-calc(8) solid $gray-dark;
				border-bottom: rem-calc(8) solid $gray-dark;
				box-shadow: 0 rem-calc(4) 0 white, 0 rem-calc(-4) 0 white; //Serves as outer borders
			}
		}
	}	
}

//List for smaller menu(<1024px)
.menu-small-nav{
	@include translate(0, -100%);
	@include transition-duration(.2s);
	position: fixed;
	background: #333;
	z-index: 998;
	width: 100%;
	margin: 0;
	margin-top: 1em;
	text-align: center;
	
	.sub-menu{
		display: none;
	}	
	
	ul{
		margin: 0;
		padding: 2.5em 0 1em;
		
		li{
			padding-bottom: .5em;
		
			*{
				color: $white;
			}
		
			//Login link
			&:last-child{
				a{
					@extend %base;
					@include proxima-semibold;
					font-size: rem-calc(15);
					line-height: 3;
					white-space: nowrap;
					line-height: 2;
				}
			}
		}
	}
	
	&.active{
		@include translate(0, 0);
	}
}

//Media queries
@media #{$medium-down}{
	header{
		.menu_small{
			display: inline !important;
			
			.logo{
				display: block;
			}
		}
	}
}