header{
	//This menu appears when browser is under 1024px
	#menu-small{
		display: none;
		float: left;
	
		//Menu 'the Hamburger' icon
		#icon-menu{
			width: rem-calc(20);
			height: rem-calc(20);
			margin-right: 0;
			float: right;
			top: .6em;
		
			background: transparent;
		
			a{
				background: white;
				width: 100%;
				height: rem-calc(18);
				position: absolute;
				border-top: rem-calc(8) solid $gray-dark;
				border-bottom: rem-calc(8) solid $gray-dark;
				box-shadow: 0 rem-calc(2) 0 white, 0 rem-calc(-2) 0 white; //Serves as outer borders
			}
		}
	}	
}

//List for smaller menu(<1024px)
#menu-small-nav{
	-webkit-transform: translateY(-100%);
	-webkit-transition: .2s;
	position: absolute;
	background: #333;
	z-index: 998;
	width: 100%;
	margin: 0;
	text-align: center;
	
	li{
		padding-bottom: .5em;
		
		*{
			color: $white;
		}
		
		//Login link
		&:last-child{
			a{
				@extend %base;
				@include proxima-semibold;
				font-size: rem-calc(15);
				line-height: 3;
				white-space: nowrap;
				line-height: 2;
			}
		}
	}
	
	&.active{
		-webkit-transform: translateY(0);
	}
}

//Media queries
@media #{$medium-down}{
	header{
		#menu-small{
			display: inline;
			
			#logo{
				display: block;
			}
		}
	}
}