header{
	.sub-menu{
		position: absolute;
		padding: 1em;
		margin: .5em 0 0 -1em;
		text-align: center;
		
		background: $gray-dark;
		border-radius: 3%;
		box-shadow: 0 0 6px rgba(0,0,0,.75);;
	
		opacity: 0;
		@include transition(.2s);
				
		li{
			margin-right: 0;
			
			&:last-child{
				a{
					@extend %base;
					@include proxima-regular;
					font-size: rem-calc(20);
					line-height: 1.5;
					margin-bottom: 1em;
				}
			}
		}
	}
}