header{
	.sub-menu{
		position: absolute;
		padding: 1em;
		margin-top: .5em;
		margin-left: 0;
		text-align: left;
		
		background: $gray-dark;
		border-radius: 3%;
		box-shadow: 0 0 6px rgba(0,0,0,.75);;
		
		visibility: hidden;
		@include transition(.2s);
				
		li{
			margin-right: 0;
			
			a{
				white-space: nowrap;
			}
			
			&:last-child{
				a{
					@extend %base;
					@include proxima-regular;
					font-size: rem-calc(20);
					line-height: 1.5;
					margin-bottom: 1em;
				}
			}
		}
	}
}