@mixin proxima-semibold{
	font-family: 'proxima-nova',sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin proxima-regular{
	font-family: 'proxima-nova',sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin proxima-light{
	font-family: 'proxima-nova',sans-serif;
	font-weight: 100;
	font-style: normal;
}