.rollover{
	&:hover{
		content: attr(data-hover);
	}
}

.row{
	max-width: rem-calc(1115);
}

// Resets
*{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: default;
	line-height: 1;
	
	list-style: none;
	text-decoration: none;
	word-wrap:break-word;
	
	outline: none;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	
	&::selection{
		background: $orange;
		color: $white;
	}
}

header,
body,
#container{
	max-width: rem-calc(1920);
	margin: 0 auto;
}

body{
	background: $gray-light;
}

#container{
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	top: 3.5em;
	background: $white;
}

.imageHolder{
	max-width: rem-calc(1920) !important;
	max-height: rem-calc(600);
	left: 0;
	right: 0;
	margin: auto;
}

//Media queries
@media #{$xxlarge-up}{
	//max width for generated parallax div
	#container > div:first-child{
		max-width: 1920px;
		right: 0;
		margin: auto;
	}
}