.block{
	width: 100%;
	max-width: none;
	padding-top: rem-calc(80);
	padding-bottom: rem-calc(80);
	
	&:nth-child(odd){
		background: $gray-light;
	}
	
	article{
		float: left !important;
	}
	
	.icons{
		margin-left: 0;
				
		li{
			text-align: center;
			
			img{
				margin-top: rem-calc(80);
				margin-bottom: rem-calc(20);
			}
		}
		
		&.icons-inside{
			li{
				text-align: left;
				float: left;
				
				&:first-child{
					padding-left: 0;
				}
				
				&:last-child{
					padding-right: 0;
				}
			}
		}
	}
	
	&.appointment{
		background: url('../img/background2.jpg');
		background-size: cover;
		background-position: center center;
		
		div{
			text-align: center;
			
			h1, h2{
				color: white;
			}
			
			h2{
				margin-bottom: 0;
			}
		}
	}
	
	&.info{
		width: 100%;
		padding-top: rem-calc(60);
		padding-bottom: rem-calc(60);
	
		background: $gray-dark;
	
		*{
			color:white;
		}
	
		img{
			margin-bottom: 1em;
		}
	
		ul{
			margin-left: 0;
			padding-left: 0;
			float: left !important;
		}
	}
	
	&.block-7{
		ul.icons{
			li{
				text-align: center;
			}
		}
	}
	
	&.block-9{
		height: rem-calc(400);
		padding: 0;
		
		.row{
			max-width: none;
			height: 100%;
			
			.parallax{
				background-attachment: fixed;
				background-position: center center;
				height: rem-calc(400);
				position: relative;
				background: url('../img/background.jpg');
			}
		}
	}
}