@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

@mixin source-bold{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-style: normal;
}

@mixin source-semibold{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin source-regular{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-style: normal;
}

