footer{
	padding-top: .5em;
	padding-bottom: .5em;
	background: $black;
	
	*{
		color: $white;
		margin-bottom: 0;
	}
	
	h3{
		float: left;
	}
	
	a{
		float: right;
		line-height: 2.2;
		
		-webkit-transition: 1s;
		
		span{
			margin-left: .5em;
			
			img{
				cursor: pointer;
			}
		}
	}
}