footer{
	margin-top: rem-calc(50);
	padding: .8em 2em;
	background: $black;
	z-index: 999;
	
	*{
		color: $white;
		margin-bottom: 0;
	}
	
	h3{
		float: left;
		line-height: 3.2;
	}
	
	//Social
	a{
		float: right;
		line-height: 2.5;
		right: rem-calc(20);
		
		span{
			margin-left: .5em;
			
			img{
				cursor: pointer;
			}
		}
	}
}

//Media queries
@media #{$small-only}{
	footer{
		h3,
		a{
			width: 100%;
			text-align: center;
		}
	}
}