#gallery{
	width: 100%;
	height: rem-calc(600);
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: $orange;
	
	.royalSlider{
		height: rem-calc(600);
		text-align: center;
		
		h1{
			width: 100%;
			position: absolute;
			top: rem-calc(300);
			margin-top: rem-calc(-72);
			color: $white;
		}
	}
}