#gallery{
	width: 100%;
	height: rem-calc(600);
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: $orange;
	
	.royalSlider{
		width: 100%;
		height: rem-calc(600);
		margin: 0;
		text-align: center;
		
		h1{
			width: 100%;
			position: absolute;
			top: rem-calc(300);
			margin-top: rem-calc(-75);
			color: $white;
		}
	}
}

//Media queries
@media #{$xlarge-up}{
	#gallery{
		height: rem-calc(700);
		
		.royalSlider{
			height: rem-calc(700);
			
			h1{
				top: rem-calc(355);
			}
		}
	}
}

@media #{$medium-down}{
	#gallery{
		height: rem-calc(400);
		
		.royalSlider{
			height: rem-calc(400);
			
			h1{
				top: rem-calc(212);
			}
		}
	}
}

@media #{$small-only}{
	#gallery{
		height: rem-calc(200);
		
		.royalSlider{
			height: rem-calc(200);
			
			h1{
				font-size: rem-calc(28);
				top: rem-calc(155);
			}
		}
	}
}