.row{
	max-width: rem-calc(1115);
}

// Resets
*{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: default;
	line-height: 1;
	
	list-style: none;
	text-decoration: none;
	word-wrap:break-word;
	
	outline: none;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	
	&::selection{
		background: $orange;
		color: $white;
	}
}