header{
	width: 100%;
	max-width: none;
	padding: .8em 2em;
	position: fixed;
	z-index: 998;
	
	background: $gray-dark;
	
	.current-menu-item{
		a{
			color: $orange !important;
			
			&:hover{
				color: #666;
			}
		}
		
		.sub-menu{
			li{
				width: 100%;
				
				a{
					color: $white !important;
				
					&:hover{
						color: $orange !important;
					}
				}
			}
		}
	}
	
	*{
		color: white;
	}	
}