header{
	width: 100%;
	max-width: none;
	padding: .8em 2em;
	background: $gray-dark;
	
	*{
		color: white;
	}
	
	ul{
		width: 100%;
		display: inline;
		float:left;
		margin:0;
		
		li{
			display: inline-block;
			margin-right: 1em;
			vertical-align: middle;
			
			img{
				margin-right: 2em;
			}
			
			&:last-child{
				float: right;
				
				#login{
					line-height: 2.5;
				}
			}
		}
	}	
}