// We use this to control basic type styling
%base {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1em;
}

h1{
	@extend %base;
	@include proxima-semibold;
	font-size: rem-calc(72);
}

h2{
	@extend %base;
	@include proxima-semibold;
	font-size: rem-calc(36);
	margin-bottom: rem-calc(50);
	
	span{
		@include proxima-light;
	}
}

h3{
	@extend %base;
	@include proxima-semibold;
	font-size: rem-calc(15);
	line-height: 3;
	white-space: nowrap;
}

h4{
	@extend %base;
	@include proxima-semibold;
	font-size: rem-calc(20);
}

p, a{
	@extend %base;
	@include proxima-regular;
	font-size: rem-calc(20);
	color: $gray-dark;
}

a{
    &:focus,
    &:hover{
  	  color: $orange;
	  @include transition-duration(.2s)
    }
}

.intro{
	p{
		@include proxima-light;
		font-size: rem-calc(26);
		line-height: 1.2;
	}
}

/*
//Media queries
@media #{$medium-down}{
	h1{
		font-size: rem-calc(54);
	}
	
	h2{
		font-size: rem-calc(27);
	}
	
	h3{
		font-size: rem-calc(11.25);
	}
	
	h4, p, a{
		font-size: rem-calc(15);
	}
	
	.intro{
		p{
			font-size: rem-calc(19.5);
		}
	}
}
*/