input[type="text"],
input[type="email"],
textarea{
	max-width: 100%;
	height: auto;
	padding: 1em;
	cursor: text;
	
	font-size: rem-calc(20);
	background: $gray-light;
	border: none;
	box-shadow: none;
	
	&:focus{
		background: $gray-light;
		box-shadow: none;
	}
}

textarea{
	line-height: 1.25;
}

input[type="submit"]{
	float: right;
	padding: .75em 2em;
	
	background: $black;
	color: $white;
}