#post_intro{
	width: 100%;
	height: rem-calc(250);
	margin-bottom: 4em;
	
	background: $gray-light;
	background-size: cover !important;
	
	#intro_text{
		position: absolute;
		bottom: -3em;
		margin-left: 4em;
		padding: 1.5em 1.5em 0 2em;
		
		background: $white;
		
		h2{
			margin-bottom: 0;
		}
	}
}

.post{	
	&.block{
		width: 100%;
		height: auto;
		overflow: hidden;
		padding-left: 5em;
		padding-right: 5em;
		
		background: $white;
		
		a{
			color: $orange;
		}
		
		h2{
			margin-bottom: rem-calc(15);
		}
	
		.author{
			p{
				margin-bottom: 0;
			}
		}
		
		.ssba{
			width: 50%;
			float: right;
			text-align: right;
		}
	
		.readmore{
			width: 50%;
			float: left;
			line-height: 2;
			color: $orange;
		}
	}
	
	//Video blog posts
	&.post_video{
		.post_content{
			padding-left: 0;
			
			p{
				padding-left: rem-calc(6);
			}
			
			.ssba{
				float: left;
				text-align: left;
				width: auto;
				padding-left: rem-calc(15);
				
				#ssba_twitter_share,
				#ssba_facebook_share{
					.ssba{
						float: right;
						padding-left: rem-calc(6);
					}
				}
			}
		}
	}
}

.pagination{
	width: 100%;
	text-align: center;
}