/* =Index pagination
----------------------------------------------- */
 
/* The containing box with a nice white background */
.paging-navigation{
  padding: 1em;
  background: #fff;
  background: hsl(0, 0%, 100%);
  text-align: center;
  
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li{
			display: inline;
			margin: 0 .3em;
			
			a,span{
				font-size: 100%;
				color: transparent;
				
				&:after{
					content: ' ';
					background: black;
					border-radius: 100%;
					position: absolute;
					bottom: 0;
					width: 10px;
					height: 10px;
				}
			}
			
			.current{
				@include proxima-semibold;
				color: transparent;
				font-size: 100%;
				
				&:after{
					background: $orange;
				}
			}
		}
	}
}