.single-post{
	.post{
		height: auto;
		overflow: hidden;
		padding-bottom: rem-calc(80);
		padding-left: 5em;
		padding-right: 5em;
		
		a{
			color: $orange;
		}
		
		.image_holder{
			margin-bottom: rem-calc(50);
		}
		
		.ssba{
			margin-top: rem-calc(20);
			margin-bottom: rem-calc(40);
			
			#ssba_twitter_share,
			#ssba_facebook_share{
				top: .3em;
			}
		}
		
		h2{
			margin-bottom: rem-calc(15);
		}
		
		p{
			margin-bottom: 0;
		}
		
		.content{
			p{
				margin-bottom: 1em;
			}
		}
		
		.link_back{
			margin-bottom: 2em;
		}
	}
}