.block{
	width: 100%;
	max-width: none;
	padding-top: rem-calc(80);
	padding-bottom: rem-calc(80);
	
	&:nth-child(odd){
		background: $gray-light;
	}
	
	article{
		float: left !important;
	}
}

//Media queries
@media #{$medium-down}{
	.block{
		.row{
			h3{
				line-height: 1.5;
			}
			
			article{
				h2{
					margin-bottom: rem-calc(20);
				}
			}
		}
	}
}