.block-icons{
	.icons{
		margin-left: 0;
			
		li{
			text-align: center;
		
			img{
				margin-top: rem-calc(80);
				margin-bottom: rem-calc(40);
			}
			
			&:nth-child(2n+2){
				float: right;
			}
			
			&:nth-child(odd){
				clear: left;
				padding-left: 0;
			}
			
			&:nth-child(even){
				padding-right: 0;
			}
		}

		&.icons-alignLeft{		
			li{
				text-align: left;
				//float: left;
			}
		}
	}	
}