.block{ //Necessary to overwrite default background
	&.block-parallax{
		height: 40%;
		max-height: rem-calc(550);
		position: relative;
		padding: 0;
	
		background: $black;
	}
}

.imageHolder{
	h1{
		width: 100%;
		position: absolute;
		top: rem-calc(300);
		margin-top: rem-calc(-75);
		color: $white;
		text-align: center;
	}
}

.touch{
	body{
		.block-parallax{
			display: none;
		}
	}
}

@media #{$medium-down}{
	.block-parallax,
	.imageHolder{
		height: rem-calc(600) !important;
	}
}

@media #{$small-only}{
	.block-parallax,
	.imageHolder{
		height: rem-calc(400) !important;
	}
}