.block{ //Necessary to overwrite default background
	&.block-parallax{
		height: 40%;
		max-height: rem-calc(600);
		position: relative;
		padding: 0;
	
		background: $black;
		
		max-width: 1920px;
	}
}

.touch{
	body{
		.block-parallax{
			display: none;
		}
	}
}