.block-contact{
	width: 100%;
	padding: rem-calc(60) 2em;

	background: $gray-dark;
	box-shadow: inset 0 20px 23px rgba(0,0,0,.2);

	*{
		color: $white;
	}

	img{
		margin-bottom: 1em;
	}

	ul{
		margin-left: 0;
		padding-left: 0;
		float: left !important;
	
		&:last-child{
			float: right !important;
			
			h3{
				top: -.8em;
			}
			
			.social{
				margin-left: 1em;
				top: .5em;
			}
	
			form{
				width: 100%;
				height: rem-calc(40);
		
				input[type="text"],
				button{
					height: rem-calc(40);
					padding: .5em 1em;
					float: left;
				}
				
				input[type="text"]{
					color: $black;
				}
				
				button{
					float: right;
				}
			}
		}
	}
}

/*Media queries
@media #{$medium-down}{
	.block-contact{
		ul{
			&:last-child{
				float: left !important;
				padding-top: rem-calc(60);
			}
		}
	}
}*/