//Social
.social,
#ssba_twitter_share,
#ssba_facebook_share{
	width: 36px;
	height: 36px;
	float: left;
	bottom: -9px;
	margin-bottom: 0;
	margin-left: .5em;
	
	&.twitter{
		background: url('../img/sprite_twitter.png');
		
		&:hover{
			background-position: bottom center;
		}
	}
	
	&.facebook{
		background: url('../img/sprite_facebook.png');
		
		&:hover{
			background-position: bottom center;
		}
	}
}

#ssba_twitter_share,
#ssba_facebook_share{
	float: none;
	display: inline-block;
	
	img{
		display: none;
	}
}

#ssba_twitter_share{
	background: url('../img/sprite_twitter.png');
	background-position: center center;
	
	&:hover{
		background-position: top center;
	}
}

#ssba_facebook_share{
	background: url('../img/sprite_facebook.png');
	background-position: center center;
	
	&:hover{
		background-position: top center;
	}
}